<section class="flex content-center justify-center size-full">
  <div
    class="alert w-2xl justify-self-center self-center border-amber-50 bg-amber-50 text-amber-900 dark:border-amber-950 dark:bg-amber-950 dark:text-amber-100">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <circle cx="12" cy="12" r="10"></circle>
      <line x1="12" x2="12" y1="8" y2="12"></line>
      <line x1="12" x2="12.01" y1="16" y2="16"></line>
    </svg>
    <h2>Whooops</h2>
    <section>Unfortunately ungit interrupted its work because: <code class="badge-secondary" data-bind="html: eventcause"></code></section>
  </div>
</section>

