<dialog class="dialog w-full sm:max-w-[425px] max-h-[612px]" onclick="if (event.target === this) this.close()">
  <article>
    <header>
      <h2 data-bind="text: title"></h2>
    </header>

    <section>
      <p data-bind="html: details"></p>
    </section>

    <footer>
        <!-- ko foreach: promptOptions -->
        <button type="button"
          data-bind="css: { 'btn': primary, 'btn-outline': !primary }, attr: { 'data-ta-action': taId }, text: label, click: close, class: 'btn btn-default'"></button>
        <!-- /ko -->
    </footer>

    <button type="button" aria-label="Close dialog" onclick="this.closest('dialog').close()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x">
        <path d="M18 6 6 18" />
        <path d="m6 6 12 12" />
      </svg>
    </button>
  </article>
</dialog>