<div class="path" data-bind="shown: shown">
  <!-- ko if: status() == 'uninited' -->
  <div class="uninited container">
    <div class="alert alert-info" data-bind="visible: showDirectoryCreatedAlert">
      Directory "<span data-bind="text: dirName"></span>" created.
    </div>

    <div class="row create-repo-container panel">
      <div class="alert flex gap-2 border-blue-50 bg-blue-50 text-blue-900">
        <div data-bind="html: infoIcon"></div>
        <div data-bind="text: alertText"></div>
      </div>

      <div data-bind="visible: isShowCreateRepo">
        <div class="grid grid-cols-2 gap-6">
          <button class="btn" data-bind="click: initRepository">
            Create Repository
          </button>
          <div>
            <div class="card">
              <section>
                <form class="form" data-bind="submit: cloneRepository">
                    <div class="grid gap-2">
                      <label for="cloneFromInput">Clone from</label>
                      <input id="cloneFromInput" type="text" placeholder="URL" data-bind="value: cloneUrl, valueUpdate: 'afterkeydown'" required />
                      <label for="cloneToInput">into</label>
                      <input id="cloneToInput" type="text" data-bind="value: cloneDestination, attr: { placeholder: cloneDestinationImplicit }" />
                      <label>
                        <input type="checkbox" data-bind="checked: isRecursiveSubmodule" />
                        Recurse submodules
                      </label>
                      <button class="btn btn-primary btn-lg" type="submit">Clone Repository</button>
                    </div>
                </form>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="list-group" data-bind="foreach: subRepos">
      <a class="list-group-item repository" data-bind="attr: { href: link }">
        <span class="arrow-icon octicon-circled pull-left" data-bind="html: arrowIcon"></span>
        <h4 class="list-group-item-heading" data-bind="text: title"></h4>
        <p class="list-group-item-text" data-bind="text: remote"></p>
      </a>
    </div>
  </div>
  <!-- /ko -->

  <!-- ko if: status() == 'no-such-path' -->
  <div class="invalid-path container">
    <h1>Invalid path</h1>
    <p>"<span data-bind="text: repoPath"></span>" doesn't seem to be a valid path.</p>
    <div class="create-dir">
      <button class="btn btn-primary btn-lg" data-bind="click: createDir">Create Directory</button>
    </div>
  </div>
  <!-- /ko -->

  <!-- ko if: repository -->
  <!-- ko component: repository -->
  <!-- /ko -->
  <!-- /ko -->
</div>