<div class="flex btn-group fetchButton">
  <button
    type="button"
    class="btn-outline btn-main"
    data-bind="click: clickFetch, enable: fetchEnabled"
  >
    <span data-bind="html: remotesIcon"></span>
    <span data-bind="text: fetchLabel"></span>
  </button>

  <div id="demo-dropdown-menu" class="dropdown-menu">
    <button type="button" id="demo-dropdown-menu-trigger" aria-haspopup="menu" aria-controls="demo-dropdown-menu-menu" aria-expanded="false" class="btn-outline dropdown-toggle">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down text-muted-foreground opacity-50 shrink-0"><path d="m6 9 6 6 6-6"></path></svg>
    </button>
    <div id="demo-dropdown-menu-popover" data-popover aria-hidden="true" class="min-w-56">
      <div role="menu">
        <div role="group">
          <!-- ko foreach: remotes -->
          <div class="flex gap-2">
            <a role="menuitem" 
                href="#"
                data-bind="text: name, click: changeRemote, attr: { 'data-ta-clickable': name, title: title }"
            ></a>
            <a class="self-center" href="#"
              data-bind="html: $parent.closeIcon, click: $parent.remoteRemove.bind($parent), attr: { 'data-ta-clickable': name + '-remove' }"></a>
          </div>
          <!-- /ko -->
          <!-- ko if: remotes().length -->
          <hr role="separator" />
          <!-- /ko -->
          <div role="menuitem">
            <a href="#" class="add-new-remote" data-bind="click: showAddRemoteDialog">Add a new remote</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>