<aside class="sidebar" data-side="left">
  <nav>
    <header>
      <div class="btn-ghost p-2 w-full justify-start flex h-12">
        <img src="images/icon.svg" class="size-8" />
        <div class="flex flex-col">
          <span class="truncate font-medium">Ungit</span>
          <span class="truncate text-xs">v0.0.1</span>
        </div>
      </div>
    </header>
    <section class="scrollbar">
      <div role="group">
        <h3>Recents repositories</h3>
        <ul>
          <li>
            <a href="#">Ungit</a>
          </li>
        </ul>
      </div>
    </section>
    <footer>
      <a class="btn-ghost justify-start" href="https://github.com/ylecuyer/ungit" data-bind="html: githubLink" target="_blank"></a>
    </footer>
  </nav>
</aside>